// Quasar SCSS Variables
@import './colors.scss';

$primary   : #F5B800; // Gold brand color
$secondary : #1A1F26;
$accent    : #EAA800;

$dark      : #12161A;
$dark-page : #12161A;

$positive  : #25D366;
$negative  : #DC3545;
$info      : #0D6EFD;
$warning   : #FFC107;
